.footer-icon {
  fill: var(--dark-accent);
  stroke: var(--dark-accent);
  transition: all 0.3s ease;
}

.footer-icon:hover {
  fill: var(--light-accent);
  stroke: var(--light-accent);
}

.heart {
  fill: var(--light-accent);
  stroke: var(--light-accent);
  transition: all 0.3s ease;
}

.heart:hover {
  filter: drop-shadow(0 1px 2px var(--light-accent));
  transform: scale(1.1);
}
