@import 'tailwindcss';
@import './hero.css';
@import './footer.css';

:root {
  --bg: #fef4f8;
  --text-color: #0f0c0d;
  --text-light: #fef4f8;
  --light-accent: #f9689d;
  --dark-accent: #730742;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.15rem;
}

section,
header,
footer {
  padding: 0 1rem;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-dancing), cursive;
}

ul {
  list-style: none;
}

.white-space-pre-line {
  white-space: pre-line;
}

.container {
  max-width: 100%;
  padding: 5.5rem 1rem 0 1rem;
}

.header-container {
  max-width: 100%;
  padding: 0.25rem 1rem;
}

.footer-container {
  max-width: 100%;
  padding: 5.5rem 1rem 1.5rem 1rem;
}

.logo {
  width: auto;
  height: auto;
}

.my-scroll-btn svg {
  fill: var(--light-accent);
  stroke: var(--light-accent);
  transition: all 0.3s ease;
}

.my-scroll-btn:hover svg {
  fill: var(--dark-accent);
  stroke: var(--dark-accent);
}

#hero {
  margin: 0 auto;
  height: 100vh;
}

@media (min-width: 1024px) {
  section,
  header,
  footer {
    padding: 0 2rem;
  }

  .container {
    padding: 5.5rem 1rem 0 1rem;
  }

  .header-container {
    padding: 0.5rem 1rem;
  }

  .footer-container {
    padding: 5.5rem 1rem 2rem 1rem;
  }
}
