@import 'tailwindcss';
@import './hero.css';
@import './footer.css';

:root {
  --bg: #fef4f8;
  --text-color: #0f0c0d;
  --text-light: #fef4f8;
  --light-accent: #f9689d;
  --dark-accent: #730742;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  /* font-family: var(--font-inter), Arial, Helvetica, sans-serif; */
  font-family: var(--font-roboto), sans-serif;
  font-size: 16px;
}

section,
header,
footer {
  padding: 0 16px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* h1,
h2 {
  font-family: var(--font-allura), cursive;
} */

h1,
h2,
h3 {
  font-family: var(--font-dancing), cursive;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  padding: 1.5rem 1rem;
}

.header-container {
  padding: 0.25rem 1rem;
}

.logo {
  width: auto;
  height: auto;
}

.icon {
  fill: var(--dark-accent);
  stroke: var(--dark-accent);
  transition: all 0.3s ease;
}

.icon:hover {
  fill: var(--light-accent);
  stroke: var(--light-accent);
}

/* svg {
  fill: var(--dark-accent);
  stroke: var(--dark-accent);
  transition: all 0.3s ease;
}

svg:hover {
  fill: var(--light-accent);
  stroke: var(--light-accent);
} */

.my-scroll-btn svg {
  fill: var(--light-accent);
  stroke: var(--light-accent);
  transition: all 0.3s ease;
}

.my-scroll-btn:hover svg {
  fill: var(--dark-accent);
  stroke: var(--dark-accent);
}

/* .more-btn svg,
.heart {
  fill: var(--light-accent);
  stroke: var(--light-accent);
  transition: all 0.3s ease;
}

.more-btn:hover svg,
.heart:hover {
  filter: drop-shadow(0 1px 2px var(--light-accent));
} */

#hero {
  padding-top: 88px;
  margin: 0 auto;
  height: 100vh;
}

/* #hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-accent);
  opacity: 0.1;
  pointer-events: none;
} */

#skills {
  padding-top: 44px;
}

.download-btn:hover svg {
  fill: var(--light-accent);
  stroke: var(--light-accent);
}

@media (min-width: 1024px) {
  section,
  header,
  footer {
    padding: 0 32px;
  }

  .container {
    padding: 2rem 1rem;
  }

  .header-container {
    padding: 0.5rem 1rem;
  }
}
