.logo {
  width: auto;
  height: auto;
  /* width: 100px; */
  /* height: 20px; */
}

#hero {
  padding-top: 88px;
  /* position: relative; */
  /* background-image: url(/images/home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* height: 100vh; */
  margin: 0 auto;
  /* overflow: hidden;
  z-index: 0; */
}

/* #hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(14, 26, 36, 0.1);
  z-index: 1;
} */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 28vh 1.5vh 1.5vh 1.5vh; */
}
