/* .lottie {
  position: absolute;
  top: 0px;
  right: 0;
} */

.skills-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 8px;
  /* border: 2px double var(--light-accent); */
  border-radius: 24px;
  padding: 16px;
  width: 100%;
  /* width: 264px; */
}
